In [1]:
# This note book is to test the pubchem_api 
# Generate test data first

from generate_test_data import generate_random_cid

generate_random_cid(5)

Random CIDs generated and saved to /Users/tsunghanhsieh/PubChem/src/../Example/random_cids.csv

In [ ]:
# Testing the function of getting basic information of compounds

from pubchem_api import get_pubchem_data, save_to_dataframe, read_cids_from_csv
import os
# Path to the input CSV file
wd = os.getcwd()
input_csv_file = 'Example/random_cids.csv'
input_csv_file = wd + '/../' + input_csv_file

# Read CIDs from the CSV file
cids = read_cids_from_csv(input_csv_file)
data = get_pubchem_data(cids)
df = save_to_dataframe(data)

# Print the DataFrame
# print(df)

In [2]:
# Testing the function of getting bioassay data from CID and AID
from pubchem_api import get_pubchem_bioassay_data, save_to_dataframe, read_cids_from_csv
import pandas as pd
import os

# Read the CSV file into a DataFrame
# The testing AID 1000 have data for CID 16750016,16749998
# So we first open the original random cids and add these two cids into it
input_csv_file = os.getcwd() + '/../' + 'Example/random_cids.csv'
df = pd.read_csv(input_csv_file)

# Create a new DataFrame with additional data
new_data = pd.DataFrame({'CID': [16750016,16749998]})

# Concatenate the two DataFrames
combined_df = pd.concat([df, new_data], ignore_index=True)

# Write the concatenated DataFrame back to the CSV file
combined_df.to_csv(input_csv_file, index=False)

# Read CIDs from the CSV file
cids = read_cids_from_csv(input_csv_file)

# Get the bioassay data (AID = 1000) from the CIDs
data = get_pubchem_bioassay_data(cids, aid=1000, max_retries=3, delay=0.3, batch_size=1000)
df = save_to_dataframe(data)
df

# Print the DataFrame
# print(df)

Processing batch 1 for AID 1000 with 7 compounds...
DataFrame saved to CSV file: /Users/tsunghanhsieh/PubChem/src/../Example/pubchem_data.csv

         CID  mean stddev
0    6615964    NA     NA
1    6615964    NA     NA
2    6615964    NA     NA
3    6615964    NA     NA
4    2749158    NA     NA
5    2749158    NA     NA
6    2749158    NA     NA
7    2749158    NA     NA
8    4419318    NA     NA
9    4419318    NA     NA
10   4419318    NA     NA
11   4419318    NA     NA
12   5543426    NA     NA
13   5543426    NA     NA
14   5543426    NA     NA
15   5543426    NA     NA
16   2281234    NA     NA
17   2281234    NA     NA
18   2281234    NA     NA
19   2281234    NA     NA
20  16750016  17.3   1.23
21  16749998  1.63  0.098

In [ ]:
## Test codes

import requests
aid = 1000
cid = 16750016
base_url = "https://pubchem.ncbi.nlm.nih.gov/rest/pug/assay/aid/{}/CSV?cid={}"
response = requests.get(base_url.format(aid, cid))
raw_data = response.text
# Remaining lines are data rows
data_rows = [line.split(',') for line in lines[1:]]
# The first line is the header
data = lines[4].split(',')
mean = data[8]
stddev = data[9]
print(f"Mean: {mean}, Stddev: {stddev}")